<nav>
    <div class="nav-wrapper red darken-4">
        <a href="#!" class="brand-logo"> {{configuracion.autor}}</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li ng-class="mInicio"><a href="#/!"><i class="material-icons left">home</i>Inicio</a></li>
            <li ng-class="mAnalisis"><a href="#!analisis"><i class="material-icons right">important_devices</i>Analisis y Diseño</a></li>
            <li ng-class="mContacto"><a href="#!contacto"><i class="material-icons right">phone_iphone</i>Contacto</a></li>
        </ul>
    </div>
</nav>
